@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron" style="text-align:center">
    <h1>EXPENSE ON HOTEL</h1>
    <p class="lead">Página fictícia criada para vaga de Desenvolvedor .NET da empresa <a href="https://expenseon.com/">Expense On</a>, com os objetivos informados abaixo</p>
    <p>Este projeto tem as seguintes funções:</p>
</div>
<div class="row" style="text-align:center">
    <div class="col-md-6">
        <h2>Cadastro de hoteis</h2>
        <p>Clique abaixo para cadastrar um hotel. </p>
        <div class="btn">@Html.ActionLink("Cadastrar Hotel", "Create", "Home")</div>
    </div>
    <div class="col-md-6" style="text-align:center">
        <h2>Lista de hotéis</h2>
        <p>Clique abaixo para visualizar os hoteis cadastrados. Nesta página você poderá filtrar/editar/excluir.</p>
        <div class="btn">@Html.ActionLink("Lista de Cadastros", "Read", "Home")</div>
    </div>
</div>